// classi helpers
.d-flex-colmn {
  display: flex;
  flex-direction: column;
}
.d-flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.sp-btw {
  justify-content: space-between;
}
// classi helpers



.admin-sponsor-box {
  border: 1px solid $primaryColor;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;

  .color {
    color: $secondaryColor;
  }
  
}

.admin-appartamento {
  width: 100%;

  .box-left {
    width: 65%;

    .title {
      p {
        color: $secondaryColor;
        font-size: 12px;
        margin-bottom: 10px;
      }
    }

    .admin-img-box {
      margin-right: 20px;
      border-top-left-radius: 20px 20px;
      border-bottom-left-radius: 20px 20px;
      overflow: hidden;
      height: 250px;
      display: flex;
      margin-bottom: 15px;

      a .immagine {
        background-color: grey;
        display: block;
        height: 250px;
        width: 100%;
        object-fit: cover;
        transition: transform 0.5s;
        }
        &:hover img {
            transform: scale(1.05);
        }
      }
        .descrizione {
      display: flex;
      flex-direction: column;

        .recap {
          color: $secondaryColor;
          font-size: 12px;
        }    
        .sottotesto {
          display: flex;
          flex-direction: column;
          color: $supportColor;
          font-size: 13px;
        }
        .select-servizi {
        color: $secondaryColor;
        font-size: 12px;
        }
      }
  }


  .box-right {
    width: 35%;
    margin-top: 43px;
  
    .admin-title-page { 
      width:100%;
      margin-bottom: 15px;

      .mappa {
        height:250px;
        border-top-right-radius: 20px 20px;
        border-bottom-right-radius: 20px 20px;
      }

    }
    .alert-admin {
      p {  
        font-size: 12px;
        color: $secondaryColor;
           
        .fa-exclamation-circle {
          color: $primaryColor;
          font-size: 14px;
        }  
        span {
          color: $primaryColor;
        } 
      }
    }
     
  }

}

  // .admin button {
  //   // justify-content: space-between;
  // }

// grafico

.chart-container {
  position: relative;
  margin: auto;
  height: 40vh;
  width: 50vw;

  canvas {
    border: 1px solid $primaryColor;
  }
}


// grafico



 /* scroll */
 /* width */
 ::-webkit-scrollbar {
   width:5px;
 }
 
 /* Track */
 
 
 /* Handle */
 ::-webkit-scrollbar-thumb {
   background:#CA3431;
   border-radius: 7px;
 }
 
 /* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
   background: #b30000;
 }

// mediaquery 
// @media screen and (max-width: 1200px) {
//   .custom-control-inline {
//     margin-bottom: 20px;
//   }
// }
@media screen and (max-width: 992px) {
  // .custom-control-inline {
  //   margin-bottom: 20px;
  // }
}
@media screen and (max-width: 768px) {
  .admin-appartamento {
    flex-wrap: wrap;
  }
  .admin-appartamento .box-left {
    width: 100%;
  }
  .admin-appartamento .box-left .admin-img-box {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-right: 0;
  }
  .admin-appartamento .box-right {
    width: 100%;
  }
  .admin-appartamento .box-right .admin-title-page .mappa {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .admin-appartamento .box-right .alert-admin p br {
    display: none;
  }
}

@media screen and (max-width: 576px) {
 
}

@media screen and (max-width: 425px) {

  .admin-sponsor-box .my-btn-primary {
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }
  .my-btn-primary {
    width: 100%;
    text-align: center;
    margin-top: 10px
  }
}
@media screen and (max-width: 320px) {

  .my-btn-secondary {
    width: 100%;
    text-align: center;
    margin-top: 10px;   
  }
}

