// * {
//    margin:0;
//    font-family: 'Poppins', sans-serif;
//    padding:0;
//    box-sizing:border-box;
//  }

.box {
  margin: 0 auto;
   .admin-sponsor-box {
      border: 2px solid $primaryColor;
      border-radius: 13px;
      width: 100%;
      display: flex;
      justify-content: space-between;  
      padding: 16px;;    
      margin-bottom: 30px;

      .custom-control-input:checked ~ .custom-control-label::before {
         background-color: $primaryColor;
       }
      
}

   .admin-interno-profilo{
      width:100%;

      .admin-title-page { 
      display:flex;
      justify-content:space-between;
      width:100%;
      font-weight: bold;
       
      .title{
        width:65%;
        margin-right: 20px;
       
        h3 {
          font-size: 30px;
        }
    
        p {
          font-size: 12px; 
          font-weight: 400;
          color: $secondaryColor;
          margin-bottom: 5px;
        }  
      }
      .title-map {
        width: 35%;
        display: flex;
        align-items: flex-end;
  
        p {
          font-size: 10px;
        }
      }  
  
      }
  
      .admin-immagini {
      height:250px;
      display: flex;      
    
      .immagineappartamento {
      //   height:250px;
        width:65%;
        margin-right: 20px;
        border-top-left-radius: 20px 20px;
        border-bottom-left-radius: 20px 20px;
        overflow: hidden;

         img {
            background-color: grey;
            display: block;
            height: 250px;
            width: 100%;
            object-fit: cover;
            transition: transform 0.5s;
         }
         &:hover img {
            transform: scale(1.05);
        }
      }
  
      .mappe {
        height:250px;
        width:35%;
        border-top-right-radius: 20px 20px;
        border-bottom-right-radius: 20px 20px;
      }
      }
    
      .admin-box-appartamento {
      display: flex;
      margin-top:15px;
      width:100%;
  
         .descrizione {
        width:65%;
        margin-right: 20px;

        .recap {
          color: $secondaryColor;
          font-size: 13px;
        }

        .sottotesto {
          color:$supportColor;
          font-size: 12px;
        }

        .select-servizi {        
          color: $secondaryColor;
          font-size: 12px;
          //  checkboxes per i serevizi lato admin
          .check-square{
          display:flex;
          justify-content: space-between;
          margin-bottom: 20px;
          font-size: 12px;
        
          .check-square .square-1,
          .check-square .square-2,
          .check-square .square-3,
          .check-square .square-4,
          .check-square .square-5,
          .check-square .square-6,
          .check-square .square-7 {
            padding-left:10px;
          } 
          }
          //  checkboxes per i serevizi lato admin
        }
        
         }

         .box-right {
            width: 35%;     
         }  
         .alert-admin {

            p {
               font-size: 12px;
               color: $secondaryColor;
   
               .fa-exclamation-circle {
                  color: $primaryColor;
                  font-size: 14px;
               }  
               span {
                  color: $primaryColor;
               } 
            }
         }     
      }

      .buttons-admin {
         display:flex;
         justify-content:space-between;
         align-items: center;
      }  
      
   }
     
}

 /* scroll */
 /* width */
 ::-webkit-scrollbar {
   width:5px;
 }
 
 /* Track */
 
 
 /* Handle */
 ::-webkit-scrollbar-thumb {
   background:#CA3431;
   border-radius: 7px;
 }
 
 /* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
   background: #b30000;
 }
