.ur-wrapper{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    padding: 40px 100px;
    overflow: auto;

    .ur-main__title {
        flex-basis: 100%;
        margin-bottom: 30px;
    }

}