*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

#app-messages {
    display: flex;
    width: 100%;

    @media screen and (max-width: 1000px) {
       & {
          flex-direction: column;
        }
       
        .list-group, .message, .container-messages{
            width: 100% !important;
        }
     
      }
    .container-messages{
        border:1px solid $primaryColor;
        width:50%;
        height:500px;
        overflow-y: hidden;
        overflow: auto;
        padding: 20px;
        margin-left: 40px;

    }
   
    .list-group{

        overflow-y: auto;
        max-height: 400px;
        padding-left: 20px;
        .message{
            border:1px solid $primaryColor;
            width: 90%;
            white-space: nowrap;
            height: 100px;
       
        }
    }
    
    
    .slide-fade-enter-active,
    .slide-fade-leave-active {
        transition: all .3s linear;
        -webkit-transition: all .3s linear;
        -moz-transition: all .3s linear;
        -ms-transition: all .3s linear;
        -o-transition: all .3s linear;
        }
    
    .slide-fade-enter,
    .slide-fade-leave-to {
        transform: translateX(-0px);
        opacity: 0;
        width: 0;
        -webkit-transform: translateX(-0px);
        -moz-transform: translateX(-0px);
        -ms-transform: translateX(-0px);
        -o-transform: translateX(-0px);
        }


    .active{
        background-color: $primaryColor;
    }    
    
}

