@import '../../common/myVariables.scss';
@import '~bootstrap/scss/bootstrap-grid.scss';
@import '~bootstrap/scss/mixins/breakpoints';
@import '../../variables';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h2 {
    @include media-breakpoint-down(md) {
        font-size: 1.5rem !important;
    }
    position: fixed;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: calc(65% - 47px);
    @include media-breakpoint-up(sm) {
        width: 350px;
    }
    @include media-breakpoint-up(md) {
        width: 255px;
    }
    @include media-breakpoint-up(lg) {
        width: 355px;
    }
    @include media-breakpoint-up(xl) {
        width: 470px;
    }
    /* max-width: ((65%)/2.3); */
    span {
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

#app {
    height: 100%;
    width: 100%;
    display: flex;    
}

.control-panel {
    position: relative;
    padding-right: 10px;
    flex-basis: 100%;
    display: flex;
    flex-direction: column;

    @include media-breakpoint-up(md) { 
        flex-basis: 65%;
    }

    // Reset larghezza xs
    .my-btn-primary {
        width: auto;
        &.filter {
            margin-top: 0 !important;
        }
    }


    .filter,
    .filter-num {
        &.active {
            border-radius: 10px 10px 0 0;
        }
        span {
            display: none;
            @include media-breakpoint-up(lg) { 
                display: inline-block;
            }
        }
    }

    .filter-num {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .adv-search-btn-wrp {
        width: 100%;
    }

    .advanced-search.active{
        display: block;
    }
    .advanced-search{
        display: none;
        background-color: white;
        border-radius: 15px 0 15px 15px;
        top: 33px;
        bottom: 10px;
        right: 10px;
        max-height: 100%;
        padding: 20px 30px;
        overflow: auto;
        position: absolute;
        z-index: 30;
        border: 2px solid $primaryColorLight;

        .search {
            position: relative;
            width: 100%;
            z-index: 30;
            input {
                width: 100%;
                position: relative;
                z-index: 20;
                border-color: #e94a47;   
            }
            .results-box {
                list-style: none;
                background-color: #fff;
                border: 2px solid $primaryColorLight;
                position: absolute;
                top: calc(100% + 5px);
                z-index: 10;
                width: 100%;
                border-radius: 6px;
                padding: 10px;
        
                .result {
                    border-radius: 6px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    padding: 5px;
                    cursor: pointer;
        
                    &:hover,
                    &.selected {
                        background-color: $primaryColorLight;
                        color: #fff;
                    }
                }
            }
        }

        .filter__services,
        .filter__services-num {
            text-transform: capitalize;
            display: inline-block;
            .input-number-add,
            .input-number-sub {
                display: none;
            }
        }

        .filter__services {
            &:not(:last-child) {
                margin-right: 10px;
            }
            .services .checkmark {
                top: unset;
                height: 15px;
                width: 15px;
                &::after {
                    left: 3px;
                    top: 1px;
                    width: 5px;
                    height: 8px;
                }
            }

            .services label {
                margin-left: unset;
            }
        }

        .filter__services-num {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            min-width: 60px;
            width: 50%;
            white-space: nowrap;
            @include media-breakpoint-up(lg) { 
                width: 20%;
            }
            @include media-breakpoint-up(xs) { 
                /* padding-right: 5%; */
            }
            input {
                width: 100%;
                &.form-control {
                    height: calc(1.2em + 0.75rem + 2px);        
                    border-color: $primaryColor;
                }
            }
        }

        .search-btn i {

            margin-right: 0;
        }

        label {
            color: $secondaryColor;
            font-size: 12px;
            font-weight: $fontMed;
        }
    
        input {
            border: 1px solid $supportColor;
            padding: 6px 18px;
            border-radius: 5px;

            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                color: #B9B7BD;
                font-weight: $fontMed;
            font-size: 12px;
            font-family: $fontType;
        }
            &:focus {
                border: 3px solid #F7D7D6;
            }
        }
    }

    #apartments-list{
        padding-right: 10px;
        margin-top: 30px;
        flex-grow: 1;
        overflow: auto;
        display: flex;
        flex-wrap: wrap;

        .apartment-card {
            color: #B9B7BD;
            padding-right: 25px;
            flex-basis: 100%;
            
            @include media-breakpoint-up(md) { 
                flex-basis: 50%;
            }

            .img-wrapper {
                position: relative;

                img.card__image {
                    margin-bottom: 10px;
                    border-radius: 15px;
                    object-fit: cover;
                    width: 100%;
                    height: 150px;
                }
    
                .fa.fa-star {
                    color: $primaryColor;
                    position: absolute;
                    top: 15px;
                    right: 15px;
                    font-size: 20px;
                }
            }

            h3 {
                font-size: 1.3rem;
            }

            .card__rooms {
                color: $secondaryColor;
                margin-bottom: 5px;
            }
            .services-list {
                margin: 5px 0;
                li {
                    list-style: none;
                    display: inline-block;
                    margin-right: 10px;
                    color: $primaryColor;
                }
            }   
            .card__description{
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;  
                overflow: hidden;
                margin-bottom: 40px;
            }
        }
    }
}

#map {
    flex-basis: 35%;
    height: 100%;
    border-radius: 15px 15px 0 0;
    display: none;

    @include media-breakpoint-up(md) { 
        display: block;
    }

    .popup_title {
        display: block;
        color: $secondaryColor;
        font-size: 16px;
    }
}


@media screen and (max-width: 992px) {
    .container h1 {
        font-size: 35px;
    }

}

@media screen and (max-width: 576px) {
    .container h1 {
        font-size: 30px;
    }

}

@media screen and (max-width: 400px) {
    .container h1 {
        font-size: 25px;
    }
    .search-box input {
        width: 300px;
        font-size: 13px;
    }
}