body {
    font-family: $fontType;
}

#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.titlewrapper{
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
}