header {
    background-color: #fff;
    position: fixed;
    width: 100%;
    padding: 4px 0;
    z-index: 1024;

    #logo {
        color: $primaryColor;
        font-size: 30px;
        transition: all 0.5s;

        &:hover {
            color: $primaryColorDark;
        }
    }

    .my-btn-secondary {
        margin-right: 10px;

        @include media-breakpoint-up(md) { 
            margin-right: 20px;
        }
    }
}

