//Palette
    //Primary
    $primaryColor: #E94A47;

    //Secondary
    $secondaryColor: #23286B;

    //Support
    $supportColor: #6E7078;
    
    //Background
    $bgColor: #F2F3FA;
// /Palette

//Font
    //Typo
    $fontType: 'Poppins', sans-serif;

    //Paragraph-Weight
    $fontReg: 400;
    $fontMed: 500;
    $fontBold: 600;
// /Font
