//Palette
    //Primary
    $primaryColor: #E94A47;
    $primaryColorLight: #ED6E6C;
    $primaryColorDark: #D63735;


    //Secondary
    $secondaryColor: #23286B;

    //Support
    $supportColor: #6E7078;

    //Shadow
    $shadowColor: #D9DCEA;
    
    //Background
    $bgColor: #F2F3FA;
// /Palette

//Font
    //Typo
    $fontType: 'Poppins', sans-serif;

    //Paragraph-Weight
    $fontReg: 400;
    $fontMed: 500;
    $fontBold: 600;
// /Font